/* .table-container {
  overflow: auto !important;
}

table {
  width: 100%;
  background-color: var(--accent-white);
  transition: background-color 0.3s ease;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
  text-align: left;
  padding: 1rem 1.5rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}



@media (max-width: 768px) {
  .pageEntries {
    display: none;
  }
}


 
table th {
  padding: 0.75rem 1.5rem;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-tertiary);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap !important;
}

 
table td {
  padding: 1rem 1.5rem;
  white-space: nowrap;
  font-size: 0.75rem;
  color: var(--text-tertiary);
}

@media (max-width: 768px) {
  table th {
    font-size: 0.625rem;
  }
} */


td {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  white-space: nowrap;
  font-size: 10px;
  font-weight: 500;
  color: var(--text-primary);
}

/* md:text-[12px] (768px and above) */
@media (min-width: 768px) {
  td {
    font-size: 12px;
  }
}

/* dark:text-gray-100 */
.dark td {
  color: #f3f4f6;
  /* gray-100 */
}


td {
  padding: 1rem 1.5rem;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary);
}

/* md:text-[12px] */
@media (min-width: 768px) {
  td {
    font-size: 12px;
  }
}

/* dark:text-gray-100 */
.dark td {
  color: #f3f4f6;
  /* gray-100 */
}

th {
  padding: 0.75rem 1.5rem;
  /* py-3 px-6 */
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  color: var(--text-primary);
}

/* md:text-[10px] */
@media (min-width: 768px) {
  th {
    font-size: 12px;
  }
}

/* dark:text-gray-100 */
.dark th {
  color: #f3f4f6;
  /* gray-100 */
}

table {
  width: 100%;
  /* min-w-full */
  border-collapse: collapse;
  border-color: var(--light-gray);
}

/* divide-y */
table th,
table td {
  border-bottom: 1px solid var(--light-gray);
}

/* dark:divide-gray-700 */
.dark table th,
.dark table td {
  border-color: #374151;
  /* gray-700 */
}

thead {
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--light-gray);
}

/* dark:bg-gray-700 */
.dark thead {
  background-color: #374151;
  /* gray-700 */
  border-color: #374151;
}